<!doctype html>
<html>
   <body>
   
      <h1>Register</h1>
      <form action="/register" , method="POST">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email">
        <p></p>
        <label for="pwd">Password:</label>
        <input type="password" name="pwd" id="pwd">
        <p></p>
        <label for="pwd">Confirm Password:</label>
        <input type="password" name="cPwd" id="cPwd">
        <input type="submit">
        <!-- <p><a href="/register">Not a member?</a></p> -->
    </form>
   </body>
</html>