body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.updatebutton{
  background-color: #E8DED1;
  padding: 5px;
  text-align: center;
  border-radius: 6px;
  width: 90px;
  height: 40px;
}

.updatebuttonLong{
  background-color: #E8DED1;
  padding: 5px;
  text-align: center;
  border-radius: 6px;
  width: 100%;
  height: 40px;
}

.headingFont{
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.bodyText{
  font-family: 'Source Sans Pro', sans-serif;
}

.parentForm{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 70px;
  margin-left: 70px;
  padding-left: 14px;
  padding-right: 14px;
}

.popup-container {
  z-index:99;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}
.popup {
  z-index:99;
  background: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0 15px 10px 3px rgba(181, 179, 179, 0.1);
  border-color: E8E8E8;
  padding: 15px;
  text-align: left;
  width:90%;
  height: 20%;
  display: flex;
  flex-direction: column;
  
}