body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.updatebutton{
  background-color: #E8DED1;
  padding: 5px;
  text-align: center;
  border-radius: 6px;
  width: 90px;
  height: 40px;
}

.updatebuttonLong{
  background-color: #E8DED1;
  padding: 5px;
  text-align: center;
  border-radius: 6px;
  width: 100%;
  height: 40px;
}

.headingFont{
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.bodyText{
  font-family: 'Source Sans Pro', sans-serif;
}